body {
  margin: 0px;
  scrollbar-gutter: stable both-edges;
}

.object-card {
  height: fit-content;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  cursor: pointer;
  transition: 0.2s;
  border:1px solid black;
}

.object-card:hover {
  background-color: darkgrey;
}
